
venv
__pychache__
.env
__pycache__/config.cpython-310.pyc
__pycache__/stories.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/app.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/stories.cpython-312.pyc
__pycache__/star_trek_stories.cpython-310.pyc
__pycache__/star_wars_stories.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/pirate_stories.cpython-310.pyc
.spyproject
