{% extends "base.html" %} 
{% block title %} Madlib Story Form{% endblock title %} 
{% block content %}
<div class="bg-gray-400 p-6 rounded-lg shadow-lg max-w-lg mx-auto mt-8">
  <h1 class="text-3xl font-bold text-center mb-6">Mad Lib Stories Input Form</h1>
  <div class="form_cont">
    <form action="/stories" class="space-y-4">
      <div class="flex flex-col">
        <label for="place" class="text-xl font-bold mb-2">Place:</label>
        <input 
          type="text" 
          placeholder="condo" 
          name="place" 
          id="place" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="noun" class="text-xl font-bold mb-2">Noun:</label>
        <input 
          type="text" 
          placeholder="dragon" 
          name="noun" 
          id="noun" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="verb" class="text-xl font-bold mb-2">Verb:</label>
        <input 
          type="text" 
          placeholder="eat" 
          name="verb" 
          id="verb" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="adjective" class="text-xl font-bold mb-2">Adjective:</label>
        <input 
          type="text" 
          placeholder="frozen" 
          name="adjective" 
          id="adjective" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="plural_noun" class="text-xl font-bold mb-2">Plural Noun:</label>
        <input 
          type="text" 
          placeholder="popsicles" 
          name="plural_noun" 
          id="plural_noun" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="animal" class="text-xl font-bold mb-2">Animal:</label>
        <input 
          type="text" 
          placeholder="dog" 
          name="animal" 
          id="animal" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="substance" class="text-xl font-bold mb-2">Substance:</label>
        <input 
          type="text" 
          placeholder="motor oil" 
          name="substance" 
          id="substance" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="color" class="text-xl font-bold mb-2">Color:</label>
        <input 
          type="text" 
          placeholder="purple" 
          name="color" 
          id="color" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="food" class="text-xl font-bold mb-2">Food Item:</label>
        <input 
          type="text" 
          placeholder="pizza" 
          name="food" 
          id="food" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="superhero" class="text-xl font-bold mb-2">Superhero Name:</label>
        <input 
          type="text" 
          placeholder="wolverine" 
          name="superhero" 
          id="superhero" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <button 
        type="submit" 
        class="mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded transition-colors duration-300 ease-in-out hover:bg-red-500 cursor-pointer"
      >
        Submit!
      </button>
    </form>
  </div>
</div>
{% endblock content %}

