{% extends "base.html" %} {% block title %}Homepage{% endblock title %} {% block
content %}
<div class="container">
  <h1>Welcome to the Mad Libs Stories Hompage!!</h1>
  <h2>What is Mad Libs?</h2>
  <p>
    Mad Libs is a humorous word game where a story or phrase is created with
    blank spaces for certain elements, such as nouns, adjectives, verbs, and
    more. Players fill in these blanks with words of their choice, without
    knowing the context of the story. The resulting filled-in story is often
    absurd, silly, and entertaining, as the word choices create unexpected and
    humorous combinations.
  </p>
  <br />
</div>
    <img 
        src="{{url_for('static', filename='images/MadLibs.jpg')}}" 
        alt="Mad Libs Pic"
        style="width: 500px;"
    />
</div>
<div class="container">
  <p>
    The link below will take you to a form page. You will fill out the following
    information:
  </p>
  <ul>
    <li>A Place</li>
    <li>A Noun</li>
    <li>A Verb</li>
    <li>An Adjective</li>
    <li>A Plural Noun</li>
  </ul>
  <p>
    After you have chosen your words for the above list, submit the form and
    your Mad Libs story will be generated!! Hope you enjoy!!
  </p>
</div>
<div class="anchors">
  <a href="/form">Form Input Page</a>
</div>

{% endblock content %}
