{% extends "base.html" %} {% block title %}Mad Libs Magic{% endblock title %}
{% block meta_description %}A fun Mad Libs game where you can create hilarious stories by filling in the blanks with words of your choice!{% endblock %}
{% block content %}
<div class="flex flex-col items-center min-h-screen bg-gray-400" >
  <h1 class="text-4xl font-bold text-black pt-8">Welcome to the Mad Libs Stories Hompage!!</h1>
  <h2 class="text-3xl font-bold text-black">What is Mad Libs?</h2>
  <div class="mt-4 text-center flex flex-col max-w-2xl mx-auto">
    <p class="text-xl font-bold">
      Mad Libs is a humorous word game where a story or phrase is created with
      blank spaces for certain elements, such as nouns, adjectives, verbs, and
      more. Players fill in these blanks with words of their choice, without
      knowing the context of the story. The resulting filled-in story is often
      absurd, silly, and entertaining, as the word choices create unexpected and
      humorous combinations.
    </p>
    <br />
  </div>
  <div class="mt-4 text-center text-xl font-bold">
    <img
      src="{{url_for('static', filename='images/MadLibs.jpg')}}"
      alt="Mad Libs Pic"
      style="width: 500px"
    />
  </div>
  <div class="mt-4 text-center text-xl font-bold max-w-2xl mx-auto">
    <p>
      The links below are the different themes available for you to choose from.
      The link will take you to a form page to be filled out and submitted.
      Upon submission, a random story will be generated.  Reload to see another
      story or click the links in the Nav Bar to go to another theme.
      You can contact us if you want to see a particular theme and we can add
      those features, so check back often!!  Enjoy!!
    </p>
  </div>
    <div class="mt-4 text-center text-xl font-bold">
      <ul class="list-disc list-inside text-left mx-auto max-w-sm pb-4">
        <li><a href="/star-wars" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Star Wars</a></li>
        <li><a href="/star-trek" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Star Trek</a></li>
        <li><a href="/pirate" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Pirate Stories</a></li>
        <li><a href="/medieval" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Medieval Fantasy</a></li>
        <li><a href="/superhero" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Superhero</a></li>
        <li><a href="/shadow-hunter" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Shadow Hunter</a></li>
        <li><a href="/detective" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Detective</a></li>
        <li><a href="/medical-thriller" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Medical Thriller</a></li>
        <li><a href="/form" class="text-blue-500 hover:text-red-500 transition-colors duration-300">Surprise Me!</a></li>
      </ul>
    </div>
</div>
{% endblock content %}
