{% extends "base.html" %} 
{% block title %}Create Your Own Star Trek Mad Libs Story | Interactive Game{% endblock title %}
{% block meta_description %}Fill out this Star Trek-themed Mad Libs form to create your own fun and interactive Star Trek adventure! Perfect for fans to boldly go where no one has gone before!{% endblock meta_description %}
{% block og_title %}Create Your Star Trek Adventure Mad Lib | Mad Lib Magic{% endblock og_title %}
{% block og_description %}Create your own Star Trek adventure using this fun and interactive Mad Lib form. Enter your characters, weapons, and planets, and watch your story unfold!{% endblock og_description %}
{% block twitter_title %}Create Your Own Star Trek Mad Libs Story | Mad Lib Magic{% endblock twitter_title %}
{% block twitter_description %}Ready to embark on a Star Trek adventure? Fill in the blanks to create your own Mad Libs story and to boldly go where no one has gone before!{% endblock twitter_description %}
{% block content %}
<div class="bg-gray-400 p-6 rounded-lg shadow-lg max-w-lg mx-auto mt-8">
  <h1 class="text-3xl font-bold text-center mb-6">Create Your Own Star Trek Mad Lib Story</h1>
  <p class="text-center mb-4 text-lg">Enter your details below and create a custom Star Trek adventure full of Q, Captain Picard, and beyond the Final Frontier!</p>
  <div class="form_cont">
    <form action="/star-trek-stories" class="space-y-4">
      <div class="flex flex-col">
        <label for="captain" class="text-xl font-bold mb-2">Starfleet Captain Name:</label>
        <input 
          type="text" 
          placeholder="Zorak"
          name="captain"
          id="captain"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="species" class="text-xl font-bold mb-2">Alien Species:</label>
        <input 
          type="text" 
          placeholder="Vulcan"
          name="species"
          id="species"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="starship" class="text-xl font-bold mb-2">Starship Name:</label>
        <input 
          type="text" 
          placeholder="USS Phoenix"
          name="starship"
          id="starship"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="tech" class="text-xl font-bold mb-2">Technology / Gadget:</label>
        <input 
          type="text" 
          placeholder="tricorder"
          name="tech"
          id="tech"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="planet" class="text-xl font-bold mb-2">Planet:</label>
        <input 
          type="text" 
          placeholder="Kronos"
          name="planet"
          id="planet"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="villain" class="text-xl font-bold mb-2">Villain:</label>
        <input 
          type="text" 
          placeholder="Romulan"
          name="villain" 
          id="villain" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="substance" class="text-xl font-bold mb-2">Substance:</label>
        <input 
          type="text" 
          placeholder="kyber crystals"
          name="substance" 
          id="substance" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="color" class="text-xl font-bold mb-2">Color:</label>
        <input 
          type="text" 
          placeholder="purple" 
          name="color" 
          id="color" 
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="food" class="text-xl font-bold mb-2">Food Item:</label>
        <input 
          type="text" 
          placeholder="blue milk"
          name="food"
          id="food"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="quest" class="text-xl font-bold mb-2">Mission / Quest:</label>
        <input 
          type="text" 
          placeholder="Negotiate Peace Treaty with the Romulans"
          name="quest"
          id="quest"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="adjective" class="text-xl font-bold mb-2">Adjective:</label>
        <input 
          type="text" 
          placeholder="warp-speed"
          name="adjective"
          id="adjective"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="verb" class="text-xl font-bold mb-2">Verb:</label>
        <input 
          type="text" 
          placeholder="launch"
          name="verb"
          id="verb"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="noun" class="text-xl font-bold mb-2">Noun:</label>
        <input 
          type="text" 
          placeholder="starship"
          name="noun"
          id="noun"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="creature" class="text-xl font-bold mb-2">Alien Creature:</label>
        <input 
          type="text" 
          placeholder="Gorn"
          name="creature"
          id="creature"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="flex flex-col">
        <label for="phenomenon" class="text-xl font-bold mb-2">Space Phenomenon:</label>
        <input 
          type="text" 
          placeholder="wormhole"
          name="phenomenon"
          id="phenomenon"
          class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <button
        type="submit" 
        class="mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded transition-colors duration-300 ease-in-out hover:bg-red-500 cursor-pointer"
      >
        Submit Your Star Trek Story!
      </button>
    </form>
  </div>
</div>
{% endblock content %}